.parrafo{
    border: 1px solid black;
    text-align: center;
    margin: 10px;
    padding: 15px;
    color: yellow;
    
    font-size: larger;
    font-weight: 500;
    background-color: gray;
    background-image: url(ñorchi.jpg);
    background-size: 5%;


}
div{
    border: 2px solid yellow;
    color: yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: 20px;

}
span ul li{

    color: yellowgreen;
    font-style: italic;
    font-weight: 800;
}

#boton{
    background-color: aquamarine;
    border: none;
    font-size: 30px;
    width: 50%;
    padding: 20px;
    color: gray;

}
.texto{

    color: black;
}

.link{

    color: chocolate;
}

a:hover{

    color: blue;
}
